@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BYekan";
  src: url(./assets/fonts/BYekan-webfont.eot) format("eot"),
    url(./assets/fonts/BYekan-webfont.ttf) format("ttf"),
    url(./assets/fonts/BYekan-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "BYekan", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
